<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.myself.name %> | Resume</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Open+Sans:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <!-- // Intro -->
    <header>
        <div class="content-wrap">
            <img class="profile-img column-narrow" src="/images/pp.jpg" alt="<%= locals.myself.name %>">
            
            <div class="column-wide">
              <h1><%= locals.myself.name %></h1>
              <h2><%= locals.myself.title %></h2>
              <p><%= locals.myself.bio %></p>
            </div>
        </div>
    </header>
    
    <main> 
        <!-- // Work Experience -->
        <section class="work">
            <div class="content-wrap">
                <h2>Work Experience</h2>

                <!-- Job Details: copy this block to add more positions. -->
                <div class="column-narrow">
                    <h3><%= locals.workExperience.W1.title %></h3>
                    <p><%= locals.workExperience.W1.companyName %></p>
                    <p><%= locals.workExperience.W1.time %></p>
                </div>
                <div class="column-wide">
                  <p><%= locals.workExperience.W1.jobDescription %></p>
                  <p>Key contributions:</p>
                    <ul>
                        <li>Perform development, upgrade, install development solutions.</li>
                        <li>Develop framework process for applications project using existing technologies that are implemented in a structured, maintainable fashion.</li>
                        <li>Responsible for coordination, requirements derivation, software design and additionally implementation of projects.</li>
                        <li>Work primarily in deployment as well as development solutions team with a focus on delivering for improving the experience of customer development.</li>
                        <li>Work closely with product development teams, product management, design office, services, and also helps in upgrade testing, analyzing resolving upgrade issues.</li>
                        <li>Develop automation tools, utility scripts for our project <a href = "www.zuglu.in">ZUGLU</a>.</li>
                    </ul>
                <!-- <p>See more at <a href="http://christinatruong.com">christinatruong.com</a>.</p> -->
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3><%= locals.workExperience.W2.title %></h3>
                    <p><%= locals.workExperience.W2.companyName %></p>
                    <p><%= locals.workExperience.W2.time %></p>
                </div>
                
                <div class="column-wide">
                    <p><%= locals.workExperience.W2.jobDescription %></p>

                    <p>Key contributions:</p>
                    <ul>
                        <li>Helped customers regarding their bills and payments.</li>
                        <li>Giving customer support via Telephone, E-mail and In-Person.</li>
                        <li>Consistently improve customer satisfaction through the expert resolution of conflicts, issues, and concerns.</li>
                    </ul>
                </div>
                
                <!-- Job Details -->
                <div class="column-narrow">
                    <h3><%= locals.workExperience.W3.title %></h3>
                    <p><%= locals.workExperience.W3.companyName %></p>
                    <p><%= locals.workExperience.W3.time %></p>
                </div>
                <div class="column-wide">
                    <p><%= locals.workExperience.W3.jobDescription %></p>
                    <p>Key contributions:</p>
                    <ul>
                        <li>Accept customer desktop and laptop systems in store for repair.</li>
                        <li>Request information about software and hardware issues and document all concern.</li>
                        <li>Breakdown systems, remove malfunctioning hardware and install new parts.</li>
                    </ul>
                </div>
            </div>
        </section>


        <!-- // Education -->
        <section class="education">
            <div class="content-wrap">
                <h2>Education</h2>

                <!-- School details: copy this block to add more schools. -->
                <h3>Georgian College, Barrie, ON</h3>
                <h4>Computer Programmer</h4>
                <p><%= locals.education.educt1.description %></p>
                
                
            </div>
        </section>
    </main>
    
    <!-- // Footer & contact info -->
    <footer>
        <div class="content-wrap">
            <h2>Let's Keep in Touch!</h2>
            
            <!-- Social media and contact links. Add or remove any networks. -->
            <div class="contact-info">
                <a href="mailto:sanjaybansal521@gmail.com">SanjayBansal521@gmail.com</a>
                <a href="https://www.linkedin.com/in/sanjay-bansal-181008155" target="_blank">LinkedIn</a>
            </div>

            <p>Copyright by <%= locals.myself.name %></p>
        </div>
    </footer>
</body>
</html>